@using System.IO
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@model ProductIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var file = Model.Product.ProductImages.FirstOrDefault(i => i.IsMain);
    var path = "~/images/";
    var src = $"~/images/{file?.FileName}";

}

<div class="row">
    <div class="col-3">
        <h3>@Model.Product.Name</h3>
        <h5>@Model.Product.Category</h5>
        <div class="text-left" style="font-size: xx-small; color: gray">Kod produktu: @Model.Product.ProductID</div>
        <div class="form-group">
            <div class="form-control">@Model.Product.Description</div>
        </div>
    </div>
    <div class="col-6">
        <img src="@Url.Content(src)"/>
        <table>
            <tr>
                @for (int i = 0; i < Model.Product.ProductImages.Count; i++)
                {
                    if (i <= 3 && !string.IsNullOrEmpty(Model.Product.ProductImages[i].FileName))
                    {
                        <td>
                            <img style="width: 179px; height: 95px" src="@Url.Content($"{path}{Model.Product.ProductImages[i].FileName}")"/>
                        </td>
                    }
                }
            </tr>
            <tr>
                @for (int i = 4; i < Model.Product.ProductImages.Count; i++)
                {
                    if (!string.IsNullOrEmpty(Model.Product.ProductImages[i].FileName))
                    {
                        <td>
                            <img style="width: 179px; height: 95px" src="@Url.Content($"{path}{Model.Product.ProductImages[i].FileName}")" />
                        </td>
                    }
                }
            </tr>
        </table>
    </div>
    <div class="col-3">
        <div class="card card-body">
            <h4>@Model.Product.Price.ToString("c")</h4>
            <form asp-action="AddToCart" asp-controller="Cart" method="post">
                <input type="hidden" value="@Model.Product.ProductID" />
                <input type="hidden" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-success">Dodaj do koszyka</button>
            </form>
        </div>
    </div>
</div>

