@model OrderListViewModel
@{
    ViewData["Title"] = "Wszystkie zamówienia";
    @if (User.IsInRole(IdentityRoleNames.Clients))
    {
        Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    }
}

<h2>Zamówienia</h2>
<div class="row mb-1">
    <div class="col">
        <div search="" label-text="Id lub numer:"></div>
    </div>
    <div class="col">
        <div class="mb-1">
            @if (Model.CustomerId == 0)
            {
                <a class="btn btn-secondary" asp-action="List" asp-route-filterByShipped="false">Wszystkie</a>
                <a class="btn btn-secondary" asp-action="List" asp-route-filterByShipped="true">Nie zrealizowane</a>
            }
        </div>
    </div>
</div>
<table class="table table-bordered table-striped">
    <tr>
        <th>Numer</th>
        <th>Klient</th>
        <th>Wartość</th>
        <th>Status</th>
        <th colspan="2">Opis</th>
        <th>Akcja</th>
    </tr>
    @foreach (Order order in Model.Orders)
    {
        <tr>
            <td>@order.OrderNumber</td>
            <td>@order.Customer.Email</td>
            <td>@order.Value.ToString("c")</td>
            <td>-</td>
            <td colspan="2"></td>
            <td>
                <a class="btn btn-primary" 
                   asp-action="Edit" 
                   asp-controller="Order" 
                   asp-route-customerId="@order.CustomerId" 
                   asp-route-orderId="@order.OrderId">@(User.IsInRole(IdentityRoleNames.Employees) ? "Edytuj" : "Podgląd")</a>
            </td>
        </tr>
    }
</table>
<div page-model="@Model.PageModel" page-action="List" page-class="btn ml-1" page-url-customerId="@Model.CustomerId"
     page-class-normal="btn-secondary" page-class-selected="btn-primary" class="btn-group float-right m-1">
</div>