@model CustomerListViewModel

@{
    ViewData["Title"] = "Lista klientów";
}
<div class="row mb-1">
    <div class="col">
        <div search="" label-text="Id lub email:"></div>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Adres e-mail</th>
        <th>Nr telefonu</th>
        <th>Ilość zamówień</th>
        <th>Data rejestracji</th>
        <th>Akcja</th>
    </tr>
    @foreach(var customerFullData in Model.Customers)
    {
        <tr>
            <td>@customerFullData.Customer.FirstName</td>
            <td>@customerFullData.Customer.LastName</td>
            <td>@customerFullData.Customer.Email</td>
            <td>@customerFullData.Customer.PhoneNumber</td>
            <td>@customerFullData.AdditionalData.CustomerOrdersCount</td>
            <td></td>
            <td>
                <a class="btn btn-primary btn-sm" 
                   asp-action="Index" 
                   asp-controller="Customer"
                   asp-route-customerId ="@customerFullData.Customer.CustomerId"
                   asp-route-returnUrl ="@Context.Request.PathAndQuery()"
                   asp-route-pageMode ="@PageMode.Edit">
                   Edytuj
                </a>
            </td>
        </tr>
    }
</table>

<div page-model="@Model.PageModel" page-action="List" page-class="btn ml-1"
     page-class-normal="btn-secondary" page-class-selected="btn-primary" class="btn-group float-right m-1">
</div>

