@using Microsoft.Extensions.Configuration;

@model ProductImagesViewModel
@inject IConfiguration Configuration
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var file = Model.Product.ProductImages.FirstOrDefault(i => i.IsMain);
    string path = Configuration["Directories:imageDirectory"].Replace("\\", "/").Remove(0, 7);
}

@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="requestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

<div id="valid" class="text-danger"></div>
<div class="text-center align-content-center" style="max-width:43rem; max-height:20rem;">
    <img id="imageScreen" src="@Url.Content($"{path}{file?.FileName}")" />
</div>
<table id="imageStore" style="width:30rem;">
    @if (Model.Product.ProductImages.Count > 0)
    {
        <tr>
            @for (int i = 0; i < 4; i++)
            {

                if (!string.IsNullOrEmpty(Model.Product.ProductImages[i].FileName))
                {
                    <td>
                        <img class="btn" data-file-name="@Model.Product.ProductImages[i].FileName" style="max-width: 11rem; max-height: 7rem" src="@Url.Content($"{path}{Model.Product.ProductImages[i].FileName}")" />
                        @if (Model.IsEdit)
                        {
                            <input type="hidden" asp-for="@Model.Product.ProductImages[i].ProductImageId" />
                            <input type="hidden" asp-for="@Model.Product.ProductImages[i].ProductId" />
                            <input type="hidden" asp-for="@Model.Product.ProductImages[i].FileName" />
                            <input type="hidden" asp-for="@Model.Product.ProductImages[i].IsMain" />
                        }
                    </td>
                }
            }
        </tr>
    }
    @if (Model.Product.ProductImages.Count > 4)
    {
        <tr>
            @for (int i = 4; i < Model.Product.ProductImages.Count; i++)
            {
                if (!string.IsNullOrEmpty(Model.Product.ProductImages[i].FileName))
                {
                    <td>
                        <img class="btn" data-file-name="@Model.Product.ProductImages[i].FileName" style="max-width: 11rem; max-height: 7rem" src="@Url.Content($"{path}{Model.Product.ProductImages[i].FileName}")" />
                        @if (Model.IsEdit)
                         {
                            <input type="hidden" asp-for="@Model.Product.ProductImages[i].ProductImageId" />
                            <input type="hidden" asp-for="@Model.Product.ProductImages[i].ProductId" />
                            <input type="hidden" asp-for="@Model.Product.ProductImages[i].FileName" />
                            <input type="hidden" asp-for="@Model.Product.ProductImages[i].IsMain" />

                        }
                    </td>
                }
            }
        </tr>
    }
</table>

@if (Model.IsEdit)
{
    <label id="lblImageUpload" for="imageUpload" class="btn btn-primary mt-2">Dodaj</label>
    <input id="imageUpload" name="Files" style="display:none" type="file" accept=".jpg" multiple />
    <div id="btnDeleteImage" class="btn btn-danger">Usuń</div>
    <div id="btnConfirmDelete" class="btn btn-danger" style="display:none">Potwierdź</div>
}
