@model UserIndexViewModel

@{
    ViewData["Title"] = "Profil";
}

<h2>Użytkownik <span style="font-weight:bold">@Model.User.UserName</span></h2>
<div class="form-group">
    <label class="form-control">E-mail: @Model.User.Email</label>
    <label class="form-control">Role: @string.Join(", ", Model.UserRoles)</label>
    <label class="form-control">Imię: @Model.User.FirstName</label>
    <label class="form-control">Nazwisko: @Model.User.LastName</label>
    <label class="form-control">Data utworzenia: @Model.User.CreationDate.ToShortDateString()</label>
</div>

