@model UserListViewModel
@{
    ViewBag.Title = "Lista użytkowników";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    Rola:<select name="roleName" class="custom-select mb-1 w-10" asp-items="@(new SelectList(Model.Roles, "Wszystkie"))"></select>
</div>
<table class="table table-striped">
    <tr>
        <th>Login</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Data rejestracji</th>
        <th>Akcja</th>
    </tr>
    @foreach (var userWithRole in Model.UsersWithRoles)
    {
        <tr>
            <td>@userWithRole.Key.UserName</td>
            <td>@userWithRole.Key.Email</td>
            <td>@string.Join(", ", userWithRole.Value)</td>
            <td>@userWithRole.Key.FirstName</td>
            <td>@userWithRole.Key.LastName</td>
            <td>@userWithRole.Key.CreationDate.ToShortDateString()</td>
            <td>
                <a class="btn btn-primary" asp-action="EditUser" asp-controller="User" asp-route-userId=@userWithRole.Key.Id>Edytuj</a>
                <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="User" asp-route-userId="@userWithRole.Key.Id">Usuń</a>
            </td>
        </tr>
    }
</table>
<a class="btn btn-success" asp-action="CreateUser" asp-controller="User" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">Dodaj użytkownika</a>

